/*预设值 值*/
body {
    height: 2000px;
    /*background-color: #8f8f8f;*/
}

/*
    top 顶栏  开始
*/

.top-nav {
    background-color: #545652;
    height: 36px;
    line-height: 36px;
    /*text-align: center;*/
}

/*顶栏左*/
.top-nav .col-l {
    display: inline-block;
}

.top-nav .col-l div {
    display: inline-block;
    padding: 0 5px;
    margin-right: 6px;
    position: relative;
}

/*顶栏左-三角图标*/
.top-nav .col-l i {
    width: 0;
    height: 0;
    margin-left: 5px;
    float: right;
    margin-top: 16px;
    overflow: hidden;
    font-size: 0;
    display: inline-block;
    border-color: #DDD transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 4px;
}

.top-nav .col-l div:nth-child(1) ul {
    color: #0b0b0b;
    position: absolute;
    left: -0px;
    background-color: #FFF;
    width: 89px;
    border: 1px solid #BEBEBE;
    border-top: 0;
    text-align: center;
}

.top-nav .col-l div:nth-child(2) ul {
    color: #0b0b0b;
    position: absolute;
    left: -0px;
    background-color: #FFF;
    width: 89px;
    border: 1px solid #BEBEBE;
    border-top: 0;
    text-align: center;
}

/*顶栏左-hover*/
.top-nav .col-l div:hover {
    border-color: #BEBEBE;
    border-top-color: #E64E3E;
    background-color: #FAFAFA;
    color: #E64E3E;
}

.top-nav .col-l div:hover i {
    border-color: #ff0000 transparent transparent transparent;
}

.top-nav .col-l div:hover ul {
    display: block;
    opacity: 1;
}

/*顶栏右*/
.top-nav .col-r {
    float: right;
}

.top-nav .col-r li {
    float: left;
}

.top-nav .col-r li:nth-child(1) i {
    width: 14px;
    height: 12px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/iconsB.png) no-repeat -118px 0;
}

.top-nav .col-r li:nth-child(2) li {
    display: inline-block;
}

.top-nav .col-r li:nth-child(2) div {
    display: block;
    margin-left: 22px;
    margin-top: 5px;
    height: 24px;
    width: 220px;
    border: 2px solid #464646;
    background-color: #FFF;
}

.top-nav .col-r li:nth-child(2) input {
    width: 178px;
    padding: 3px 6px;
    height: 18px;
    float: left;
}

.top-nav .col-r li:nth-child(2) input:focus + button {
    background-position: -58px 0;
}

.top-nav .col-r li:nth-child(2) button {
    width: 14px;
    height: 13px;
    display: inline-block;
    background: url(../img/iconsB.png) no-repeat -43px 0;
    margin: 6px 0 0 10px;
    vertical-align: top;
}

/*导航栏-开始*/
header {
    background: url(../img/header.png) repeat-x;
}

.nav {
    height: 84px;
}

/*logo*/
.nav .logo {
    float: left;
    padding-top: 18px;
}

.nav .logo h1 {
    height: 46px;
    width: 170px;

    background-color: #0a88e1;
    font-size: 0;
    background: url(../img/logo_170x46.png) no-repeat;
}

/*主要导航区域*/
.mainnva {
    float: left;
    margin-left: 50px;
}

.mainnva .col {
    float: left;
    position: relative;
    height: 84px;
    background: url(../img/header.png) no-repeat 0 -85px;
    padding-left: 38px;
    margin-left: -8px;
}

.mainnva .col span {
    /*display: block;*/
    width: 41px;
    height: 25px;
    line-height: 99em;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 26px;
    background: url(../img/header.png) no-repeat;
}

.mainnva .col ul {
    display: block;
}

.mainnva .col li {
    display: block;
    float: left;
}

.mainnva .col li a {
    display: block;
    height: 84px;
    width: 108px;
    line-height: 99em;
    overflow: hidden;
    background: url(../img/header.png) no-repeat;
}

/*标签展开动画*/
@-webkit-keyframes spread {
    0% {
        width: 0
    }
    33% {
        width: 23px
    }
    66% {
        width: 46px
    }
    100% {
        width: 69px
    }
}

.mainnva .col:nth-child(1) span {
    background-position: 0 -676px;
    /*transition:0.3s ease-out;   */
}

.mainnva .col:nth-child(1):hover span {
    background-position: -40px -676px;
    width: 69px;
    -webkit-animation: spread .4s linear;
    -moz-animation: spread .4s linear;
    -o-animation: spread .4s linear;
    animation: spread .4s linear
}

.mainnva .col li:nth-child(1) a {
    background-position: 0 -170px;
}

.mainnva .col li:nth-child(1):hover a {
    background-position: -108px -170px;
}

.mainnva .col li:nth-child(2) a {
    background-position: 0 -254px;
}

.mainnva .col li:nth-child(2):hover a {
    background-position: -108px -254px;
}

.mainnva .col:nth-child(2) span {
    background-position: -109px -676px;
}

.mainnva .col:nth-child(2):hover span {
    background-position: -149px -676px;
    width: 69px;
    -webkit-animation: spread .4s linear;
    -moz-animation: spread .4s linear;
    -o-animation: spread .4s linear;
    animation: spread .4s linear
}

.mainnva .col:nth-child(2) li a {
    background-position: 0 -338px;
}

.mainnva .col:nth-child(2):hover li a {
    background-position: -108px -338px;
}

.mainnva .col:nth-child(3) li:nth-child(1) a {
    background-position: 0 -506px;
}

.mainnva .col:nth-child(3) li:nth-child(1):hover a {
    background-position: -108px -506px;
}

/*导航 hover 展示菜单*/
.mainnva .col:nth-child(3) li:nth-child(1) ul {
    position: absolute;
    background-color: #0a88e1;
    padding: 8px 0 5px;
    background: url(../img/header_list.png) no-repeat;
    top: 68px;
    left: 20px;
    width: 138px;
    z-index: 4;
    display: block;
    opacity: 0;
    /*visibility: hidden;*/
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.mainnva .col:nth-child(3) li:nth-child(1):hover ul {
    opacity: 1;
}

.mainnva .col:nth-child(3) li:nth-child(1) ul li {
    width: 138px;
    height: 28px;
    color: #767676;
    text-align: center;

}

.mainnva .col:nth-child(3) li:nth-child(2) a {
    background-position: 0 -422px;
}

.mainnva .col:nth-child(3) li:nth-child(2):hover a {
    background-position: -108px -422px;
}

.mainnva .col:nth-child(3) li:nth-child(3) a {
    background-position: 0 -590px;
}

.mainnva .col:nth-child(3) li:nth-child(3):hover a {
    background-position: -108px -590px;
}

/*nav-r 导航-右*/
.nav .nav-r {
    float: right;
    margin-top: 32px;
}

.nav .nav-r a {
    font-size: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/iconsB.png) no-repeat;
}

.nav .nav-r a:nth-child(1) {
    background-position: 0 -21px;
}

.nav .nav-r a:nth-child(1):hover {
    background-position: 0 -46px;
}

.nav .nav-r a:nth-child(2) {
    background-position: -24px -21px;
}

.nav .nav-r a:nth-child(2):hover {
    background-position: -24px -46px;
}

.nav .nav-r a:nth-child(3) {
    background-position: -49px -21px;
}

.nav .nav-r a:nth-child(3):hover {
    background-position: -49px -46px;
}

/*
主体部分sec-main
*/
.sec-main {
    background-color: #FFF;
}
.sec-main .menu-l {
    width: 211px;
    float: left;
    position: relative;
    z-index: 3;
    -webkit-box-shadow: 2px 0 4px 0 #D5D5D5;
    -moz-box-shadow: 2px 0 4px 0 #D5D5D5;
    -o-box-shadow: 2px 0 4px 0 #D5D5D5;
    -ms-box-shadow: 2px 0 4px 0 #D5D5D5;
    box-shadow: 2px 0 4px 0 #D5D5D5;
}
.sec-main .menu-l .menu-top{
    background: url(../img/index.png) no-repeat 0 39px;
    padding-bottom: 5px;
    position: relative;
    z-index: 3;
}
.sec-main .menu-l h2{
    background-color: #D03800;
    height: 39px;
    line-height: 39px;
    text-align: center;


}
.sec-main .menu-l h2 a {
    color: #FFF;
    cursor: pointer;
}
.sec-main .menu-l h2 i {
    display: inline-block;
    width: 13px;
    height: 15px;
    vertical-align: -2px;
    margin-right: 8px;
    background: url(../img/iconsB.png) no-repeat -73px 0;
}

.sec-main .menu-l .menu {
    background-color: #F0F0F0;
    padding-top: 13px;
    height: 549px;
    margin-top: -5px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #D5D5D5;
}
.sec-main .menu>div:nth-child(2n) {
    background-color: #fff;
}
.sec-main .menu>div:hover {
    background-color: #565451;
}
.sec-main .menu>div:hover h3,
.sec-main .menu>div:hover a{
    color: #fff;
}
.sec-main .menu>div:hover .morer{
    display: block;
    opacity: 1;
}



.sec-main .menu>div {
    /*padding-left: 10px;*/
    border: none;
    padding: 11px 19px;
    position: relative;
}
.sec-main .menu  div:after{
    display: block;
    clear: both;
    content: "\0020";
    visibility: hidden;
    height: 0;
}

.sec-main .menu div h3 {
    color: #555;
    margin-bottom: 3px;
    font-weight: bolder;
}

.sec-main .menu div li {
    float: left;
    color: #888;
    margin-right: 7px;
}

.sec-main .menu div li a{
    color: #888;
}
.sec-main .menu .hot {
    width: 30px;
    height: 14px;
    line-height: 99em;
    overflow: hidden;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/iconsB.png) no-repeat -87px 0;
}
.sec-main .menu .more {
    width: 6px;
    height: 9px;
    line-height: 99em;
    overflow: hidden;
    position: absolute;
    right: 19px;
    background: url(../img/index.png) no-repeat 0 -6px;
    display: inline-block;
}

.sec-main .morer {
    /*opacity: 0;*/

    border-bottom: 1px solid #D5D5D5;
    position: absolute;
    top: 0;
    left: 211px;
    left: 211px\9;
    _left: 192px;
    background-color: #FFF;
    z-index: 5;
    width: 446px;
    padding: 18px 34px;
}
.sec-main .morer h4{
    /*font-family: "Microsoft YaHei","微软雅黑","黑体";*/
    font-size: 14px;
    color: #e64e3e;
    margin-bottom: 9px;
}
.sec-main .morer .morer-hd{
    border-bottom: 1px dotted #E2E2E2;
    padding-bottom: 12px;
    margin-bottom: 14px;
}
.sec-main .morer .morer-hd li{
    float: left;
    margin-right: 16px;

}
.sec-main .morer .morer-hd li a{

    color: #555;

}

.sec-main .morer .morer-con li{
    float: left;
    width: 88px;
    height: 56px;
    border: 1px solid #EDEEEF;
    margin: 0 0 -1px -1px;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.sec-main .morer .morer-con li a img{
    margin-top: 14px;
}
.sec-main .morer .morer-con li a>span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background: #000;
    opacity: .7;
    text-align: center;
    color: #fff;
    line-height: 56px;

}
.sec-main .morer .morer-con li span span{
    display: block;
    height: 1em;
    width: 100%;

}
.sec-main .morer .morer-con li span span:nth-child(2) {
    color: #ff0000;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 3px;
}
.sec-main .morer .all {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-top: 15px;
    padding: 0 10px;
    color: #FFF;
    background-color: #E64E3E;

}
/*
菜单栏-右侧
*/
.sec-main .menu-r {
    display: block;
    padding-left: 211px;
    height: 602px;
    /*background-color: #0a88e1;*/
}

.sec-main #show {
    float: left;
    width: 666px;
    height: 300px;
    /*border: 1px solid black;*/
    overflow: hidden;
    position: relative;
}

.imgs {
    width: 2000px;
    list-style: none;
    position: absolute;
    left: -0px;
    /*left: 0;*/
}

.imgs li {
    float: left;
}
#little {
    position: absolute;
    left: 0;
    /*top:180px;*/
    bottom: 0;
}

#little ul {
    list-style: none;
}

#little ul li {
    width: 18px;
    height: 18px;
    border: 1px solid #0099FF;
    border-radius: 50%;
    text-align: center;
    float: left;
    background: #0099FF;
    color: white;
    cursor: pointer;
}



.sec-main .main-login {
    float: right;
    width: 187px;
    background-color: #D03800;
    height: 300px;
    padding: 0 18px;
}
.sec-main .main-login .logou-bg {
    padding: 67px 0 57px;
    text-align: center;
}
.sec-main .main-login .logou-bg a{
    display: block;
    width: 141px;
    height: 41px;
    background: url(../img/index.png) no-repeat 0 -16px;
    line-height: 99em;
    overflow: hidden;
    margin: 0 auto;
}
.sec-main .main-login .main-login-ft {
    border-top: 1px solid #D44612;
    color: #FFF;
    padding-top: 12px;
}
.sec-main .main-login .main-login-ft dt{
    font-size: 16px;
    padding-bottom: 8px;
}
.sec-main .main-login .main-login-ft dd
{
    padding-bottom: 5px;
}
.sec-main .main-login .main-login-ft .list_dec {
    margin-right: 10px;
    margin-bottom: 3px;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    display: inline-block;
    border-right: 8px solid #E8AFA3;
    border-bottom: 8px dashed transparent;
}
.pro-items {
    float: left;
    width: 665px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #E4E4E4;
}
.pro-item {
    float: left;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    width: 220px;
    height: 149px;
}

.pro-itemA
{
    float: left;
    border-right: 1px solid #EDEDED;
}
.pro-itemB {

}
.pro-itemC {
    border-right: 0;
    border-bottom: 1px solid #EDEDED;
    height: 148px;
}
.pro-itemD {
    border-bottom: 0;
}
.pro-itemE {
    border-right: 0;
    border-bottom: 0;
}

.other {
    float: right;
    width: 187px;
    height: 302px;
    padding: 0 18px;
    background: url(../img/bg1.png) bottom no-repeat;
    background-color: #F0F0F0;
}
.other_lnk_list {
    border-bottom: 1px dotted #CBCBCB;
    margin-bottom: 15px;
    padding-top: 14px;
    padding-bottom: 12px;
}
.other_lnk_list .lnk_tit {
    font-size: 16px;
    font-family: "Microsoft YaHei","微软雅黑","黑体";
    color: #343434;
    margin-bottom: 16px;
}

.other_lnk_list li {
    float: left;
    width: 50%;
    padding-bottom: 8px;
    height: 20px;
}
.other_lnk_list li a {
    color: #7E7E7E;
}
.other_lnk_list .ico_index {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    vertical-align: -4px\9;
    background: url(../img/index.png) no-repeat;
}
.other_lnk_list li:nth-child(1) .ico_index {
    background-position: 0 -99px;
}
.other_lnk_list li:nth-child(2) .ico_index {
    background-position: -15px -99px;
}
.other_lnk_list li:nth-child(3) .ico_index {
    background-position: -30px -99px;
}
.other_lnk_list li:nth-child(4) .ico_index {
    background-position: -45px -99px;
}
.other_lnk_list li:nth-child(5) .ico_index {
    background-position: -60px -99px;
}


.other_lnk_list .ico_index:nth-child(2) {
    background-position: -15px -99px;
}
.other_lnk_list .ico_index:nth-child(3) {
    background-position: -30px -99px;
}
.other_lnk_list .ico_index:nth-child(4) {
    background-position: -45px -99px;
}
.other_lnk_list .ico_index:nth-child(5) {
    background-position: -60px -99px;
}

.other_lnk_code .lnk_tit {
    font-size: 16px;
    font-family: "Microsoft YaHei","微软雅黑","黑体";
    color: #343434;
    margin-bottom: 16px;
}
.cb_wxcode {
    display: inline-block;
    width: 185px;
    height: 80px;
    background: url(../img/index.png) no-repeat  0 -129px;
}

/*主体第二部分-积分商城*/
/*积分商城-头部*/
.mainB ,.mainC{
    margin-top: 25px;

}
.mainB .main-hd,
.mainC .main-hd{
    padding-bottom: 8px;
    border-bottom: 2px solid #E64E3E;
    line-height: 23px;
}
.mainB .hd-l,
.mainC .hd-l{
    float: left;

}
.mainB .hd-l i ,
.mainC .hd-l i{
    display: inline-block;
    height: 18px;
    width: 13px;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
    background: url(../img/index.png) no-repeat -142px -16px;
}
.mainB .hd-l h2 ,
.mainC .hd-l h2 {
    float: left;
    margin-right: 15px;
    font-family: "Microsoft YaHei","微软雅黑","黑体";
    color: #e64e3e;
    font-size: 16px;
    font-weight: normal;
}
.mainB .hd-l span ,
.mainC .hd-l span{
    color: #888;
    font-family: verdana;
    margin-top: 4px;
}
.mainB .hd-r ,
.mainC .hd-r {
    float: right;
}
.mainB .hd-r ul,
.mainC .hd-r ul{
    float: left;
}
.mainB .hd-r li,
.mainC .hd-r li{
    color: #888;
    float: left;
}
.mainB .hd-r li a,
.mainC .hd-r li a{
    margin: 0 15px;
}
.mainB .hd-r a i{
    display: inline-block;
    width: 3px;
    height: 5px;
    vertical-align: middle;
    margin-left: 5px;
    _overflow: hidden;
    background: url(../img/index.png) no-repeat -7px -6px;
}

.mainB .hd-r a:hover {
    color: #E64E3E;
}
/*积分商城展示*/
.mainB .mainB-con,
.mainC .mainC-con{
    border: 1px solid #D9D9D9;
    border-top: 0;
    background-color: #FFF;
}

.mainB .mainB-con div{
    float: left;
    border-right:1px solid #D9D9D9;
}
.mainB .mainB-con div:last-child ,
.mainC .mainC-con div:last-child{
    border-right: 0;
}

.mainC .hd-l i{
    width: 20px;
    background-position: -156px -16px;
}
.mainC .hd-r li {
    margin: 0 15px;
    position: relative;
}
.mainC .hd-r li i{
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-width: 4px;
    border-color: transparent transparent #E64E3E transparent;
    border-style: dashed dashed solid dashed;
    display: inline-block;
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -2px;
    opacity: 0;
}


.mainC .hd-r li a{
    width: 64px;
    height: 22px;

    display: block;
    margin: 0;
    text-decoration: none;
    text-align: center;
}
.mainC .hd-r li a:hover{
    text-decoration: none;
}
.choose {
    background-color: #E64E3E;
    color: #FFF;
    border-radius: 2px;
}
.choose a {
    color: #FFF;
}



.mainC {
    color: #888;
}



.mainC .hd-r li.choose i {
    opacity: 1;
}

.mainC-con-A .mainC-con-A-item {
    float: left;
    border-right:1px solid #D9D9D9;
}

.mainC-con-A .ticket_tb {
    width: 442px;
}

.mainC-con-A .ticket_tb .ticket_pay {
    padding-left: 20px;
}
.mainC-con-A .ticket_tb td {
    cursor: pointer;
    border-bottom: 1px solid #E6E6E6;
    vertical-align: middle;
    padding: 4px 0 10px;
    font-family: verdana;
}
.mainC-con-A .ticket_tb .ticket_price {
    font-family: "Microsoft YaHei","微软雅黑","黑体";
    font-size: 20px;
    color: #E64E3E;
    clear: both;
    line-height: 30px;
}
.mainC-con-A .ticket_tb .ticket_busi {
    width: 80px;
    padding-right: 20px;
}
.index_ico_plane {
    display: inline-block;
    width: 36px;
    height: 10px;
    vertical-align: middle;
    background: url(../img/index.png) no-repeat -142px -35px;
}

.mod_busilist {
    width: 220px;
}

.mod_busilist li {
    float: left;
    position: relative;
    border-width: 0 0 1px;
    border-color: #F4F5F5;
    width: 110px;
    height: 49px;
    margin: 0;
    vertical-align: baseline;
}

 .mod_busilist li a img{
    margin-top: 10px;
}
  .mod_busilist li a>span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background: #000;
    opacity: .7;
    text-align: center;
    color: #fff;
    line-height: 56px;

}
  .mod_busilist li span span{
    display: block;
    height: 1em;
    width: 100%;

}
.mod_busilist li span span:nth-child(2) {
    color: #ff0000;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 3px;
}


.mainD-link {
    background-color: #F0F0F0;
    margin-top: 36px;
}
.mainD-link .lingk-top{
    padding: 20px 0;
    border-bottom: 1px solid #E0E0E0;
    margin-right: -143px;
}

.link-item {
    float: left;
    color: #999;
    padding-left: 8px;
}
.lingk-top div i{

    display: inline-block;
    height: 55px;

    margin-right: 10px;
    float: left;
    background: url(../img/cblink.png) no-repeat;
}
.lingk-top div:nth-child(1) i {
    width: 58px;
}
.lingk-top div:nth-child(2) i {
    width: 45px;
    background-position: -59px 0;
}
.lingk-top div:nth-child(3) i {
    width: 45px;
    background-position: -105px 0;
}
.lingk-top dl {
    float: left;
}

.lingk-top dt{
    font-family: "Microsoft YaHei","微软雅黑","黑体";
    font-size: 16px;
    color: #333;
    margin-bottom: 2px;
}

.lingk-top div:nth-child(2) {
    margin: 0 135px;
}
.bottom_list{
    margin:0 auto;
    padding:0;

    width:1100px;
    height: 55px;
    display: block;

    position: relative;
    clear: both;
}
.footer_left{
    width:650px;
    height:182px;
    float: left;

    /*border-right: 1px solid #E0E0E0;*/
}

.bottom_list ul{
    float: left;
    margin:15px 0;
    margin-right: 55px;
    margin-bottom: 6px;
}
.footer_left a{
    color: #999;
    text-decoration:none;
}
.footer_left a:hover{
    color: red;
    text-decoration:underline;
}
.footer_left span{
    font-family: "Microsoft YaHei","å¾®è½¯é›…é»‘","é»‘ä½“";
    font-size: 16px;
    color: #333;
    margin-top: 6px;
    margin-bottom: 2px;
}
.footer_left li{
    font-size: 12px;
    color: #999;
    line-height: 24px;
}
.bottom_kefu{
    background: url("../img/iconsB.png");
    width: 92px;
    height: 34px;
    line-height: 99em;
    overflow: hidden;
    background-position: -208px 0;
    display: inline-block;
    vertical-align: middle;
}

.footer_right{
    margin-left: 50px;
    padding-left:40px;
    width:342px;
    height:182px;
    float: right;
    border-left:1px solid white;
}
.footer_right ul{
    margin-right: 20px;
}
.footer_right_ul2 img{
    margin-top:6px;
}
.footer_right ul span{
    font-family: "Microsoft YaHei","å¾®è½¯é›…é»‘","é»‘ä½“";
    font-size: 16px;
    color: #333;
    margin-top: 6px;
    margin-bottom: 2px;
}
.footer_right li{
    font-size: 12px;
    color: #999;
    line-height: 24px;
}

.footer_right ul li a{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.footer_right_ul_li_a1{
    background: url(../img/iconsB.png) no-repeat 0 -21px;
}
.footer_right_ul_li_a1:hover {
    background: url(../img/iconsB.png) no-repeat 0 -46px;
}
.footer_right_ul_li_a2{
    background: url(../img/iconsB.png) no-repeat -24px -21px;
}
.footer_right_ul_li_a2:hover {
    background: url(../img/iconsB.png) no-repeat -24px -46px;
}
.footer_right_ul_li_a3{
    background: url(../img/iconsB.png) no-repeat -48px -21px;
}
.footer_right_ul_li_a3:hover{
    background: url(../img/iconsB.png) no-repeat -48px -46px;
}
.footer_img3{
    /*margin-top:5px;*/
    width: 60px;
    height: 60px;
}
#footer_right_ul4{
    margin-top:16px;
    margin-left:15px;
}






















footer {
    text-align: center;
    padding: 20px 0;
    line-height: 20px;
}